name: MobSF Android Scan

on:
  push:
    branches: [ "main" ]

jobs:
  mobsf_scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Upload APK to MobSF
      run: |
        curl -X POST "$MOBSF_URL/api/v1/upload" \
          -H "Authorization: $MOBSF_API_KEY" \
          -F "file=@app/DivaApplication.apk" > upload.json

        HASH=$(jq -r '.hash' upload.json)
        echo "HASH=$HASH" >> $GITHUB_ENV

    - name: Trigger MobSF Scan
      run: |
        curl -X POST "$MOBSF_URL/api/v1/scan" \
          -H "Authorization: $MOBSF_API_KEY" \
          -d "hash=$HASH"

    - name: Download Scan Report
      run: |
        curl -X POST "$MOBSF_URL/api/v1/report_json" \
          -H "Authorization: $MOBSF_API_KEY" \
          -d "hash=$HASH" > mobsf-report.json

    - name: Upload report artifact
      uses: actions/upload-artifact@v4
      with:
        name: mobsf-report
        path: mobsf-report.json
